.container-fluid
  h1 Teams

  table.table
    thead
      tr
        th Team
        th Kód
        th Web
        th Liga
    tbody
      - @teams.each do |team|
        tr
          td: b = team.name
          td = team.code
          td = team.web
          td = team.league.name
