= simple_form_for(@team) do |f|
  = f.error_notification

  .row
    .col-sm-6
      h2 Můj tým
      .form-inputs
        .row
          .col-sm-12
            = f.input :name, label: 'name'

        .row
          .col-sm-4
            = f.input :league_id, :collection => League.all,
                      :value_method => :id,
                      :label => 'leagues',
                      input_html: { class: "selectpicker" },
                      :include_blank => false

  .form-actions.spacer-top-20
    = f.button :submit, @team.new_record? ? 'vytvořit' : 'aktualizovat', class: 'btn-success'
