li class=("captain" if player.user_player_deals.first.captain?)
  .img-container
    .glyphicon.glyphicon-user
  strong.name
    - if player.user_player_deals.first.captain?
      .fa.fa-certificate title="Captain" data-toggle="tooltip" data-placement="top"
    = player.name
  span.team
    = player.team.name
  span.role
    - if player.player_role
      = player.player_role.name
    - else
     | bez určení pozice
  .control.btn-group
    = link_to( {controller: 'account/teams',
                action: 'set_captain',
                player: player.id},
                method: :put,
                class: 'captain' )
      .fa.fa-certificate title="Nastavit hráče jako kapitána" data-toggle="tooltip" data-placement="right"
    = link_to( {controller: 'account/teams',
                action: 'remove_player',
                player: player.id},
                method: :delete,
                remote: true,
                class: 'remove' )
      .fa.fa-remove title="Odstranit hráče z týmu" data-toggle="tooltip" data-placement="right"
