= render 'shared/header'

= render 'shared/user_menu'

br

.row
  .col-sm-3
    = render 'account/sidebar'
  .col-sm-9
    .row.container-fluid
      .col-xs-12
        h1 My Teams

        = render 'form'
        br
        = link_to t('.back'), account_teams_path, class: 'btn btn-default btn-sm'


      = link_to 'Create my team', new_account_team_path, class: 'btn btn-primary'
