= render 'shared/header'

= render 'shared/user_menu'

br

.row
  .col-sm-3
    = render 'account/sidebar'
  .col-sm-9
    .row.container-fluid
      .col-xs-12
        h1 Mé týmy

        table.table
          thead
            tr
              th Tým
              th Liga
              th
          tbody
            - @teams.each do |team|
              tr
                td: b = team.name
                td
                  = team.league.name if team.league
                td
                  .btn-group.pull-right
                    = link_to 'spravovat', account_team_path(team), class: 'btn btn-sm btn-primary'

      = link_to 'Vytvořit nový tým', new_account_team_path, class: 'btn btn-primary'
