.container
  .content
    .row
      .col-xs-12.col-sm-9.col-sm-push-3
        .page-header
          h1 Založení týmu

        = render 'form'
        br
        = link_to 'zpět', account_teams_path, class: 'btn btn-default btn-sm'
