= render 'shared/header'

= render 'shared/user_menu'

br

.row
  .col-sm-3
    = render 'account/sidebar'
  .col-sm-9
    .row.container-fluid
      .col-xs-12
        h1 = @UserTeam.name

    .row.container-fluid
      .col-xs-3
        .btn-group.btn-group-justified role="group"
          - if @UserTeam.draft?
            = link_to account_set_ready_path(@UserTeam),
                      data: {toggle: 'popover', trigger: 'hover', content: 'Označíte tým jako připravený pro hru. V nejbližším termínu bude zařazen do hracího kola a uzamčen pro úpravy.', placement: 'top'},
                      method: :put,
                      title: 'Poslat tým do hry',
                      class: 'btn btn-success'
              .fa.fa-play
              br
              | poslat do hry
          - elsif @UserTeam.ready?
            = link_to account_set_draft_path(@UserTeam),
                      method: :put,
                      class: 'btn btn-info'
              .fa.fa-pause
              br
              | stáhnout ze hry

      .col-xs-9
        .btn-group.btn-group-justified role="group"
          a.btn.btn-info.edit-team
            .fa.fa-gear
            br
            = t '.edit_team'

          / = link_to @UserTeam, class: 'btn btn-warning'
          /   .fa.fa-archive
          /   br
          /   | archivovat

          = link_to @UserTeam,
                    :data => {:confirm => "Opravdu si přejete tým <b>#{@UserTeam.name}</b> odstranit?"},
                    :method => :delete,
                    class: 'btn btn-danger'
            .fa.fa-trash-o
            br
            | smazat

    br

    .row.container-fluid.team-editor
      .col-xs-12
        .panel.panel-default
          .panel-heading
            h3.panel-title
              .fa.fa-gear
              = t '.edit_team'
          .panel-body
            = simple_form_for(@UserTeam) do |f|
              .input-group
                span#sizing-addon2.input-group-addon Název týmu
                = f.input :name, label: false, class: 'form-control', html: {placeholder: 'Name'}
                .input-group-btn
                  = f.submit 'save', class: 'btn btn-primary'

    .row.container-fluid
      .col-xs-6
        .panel.panel-default
          .panel-heading
            h3.panel-title
              .fa.fa-clock-o
              | Odpočet do dalšího kola
          .panel-body
            .countdown.clearfix
            small
              | V tomto čase můžete upravovat vaše týmy.
              | Nezapomeňte tým poslat do hry.
              | Na začátku kola budou týmy poslané do hry uzamčeny a během kola je není možné upravovat.

    .row.container-fluid
      .col-xs-12
        .panel.panel-default
          .panel-heading
            h3.panel-title
              .fa.fa-users
              = t '.selected_players'
          .panel-body
            ul.players-list#players
              - @UserTeam.players.each do |player|
                = render 'player_item', player: player

    .row.container-fluid
      .col-xs-6
        .panel.panel-default
          .panel-heading
            h3.panel-title
              .fa.fa-user-plus
              = t '.add_player'
          .panel-body
            = select_tag 'player_id',
                option_groups_from_collection_for_select(Team.all,
                                                        :players,
                                                        :name,
                                                        :id,
                                                        :name,
                                                        3),
                class: 'select2 player-selector',
                data: {team: @UserTeam.id},
                :include_blank => true,
                placeholder: 'Slect player'
      .col-xs-6
        .panel.panel-default
          .panel-heading
            h3.panel-title
              .fa.fa-user
              | Detail
          .panel-body

            #player-detail
