= render 'shared/header'

= render 'shared/menu'

= render 'shared/score_bar'

= render 'shared/user_menu'

br

.row.container-fluid
  .col-sm-3
    ul.score-list
      / - @games.each do |game|
      li.score-item
        div
          .fa.fa-trophy KOV - HBT (1:3)
          | 18.4.2015 16.00
      li.score-item
        div
          .fa.fa-trophy HBC - KOV (2:1)
          | 18.4.2015 16.00
      li.score-item
        div
          .fa.fa-trophy ALP - HK (7:1)
          | 18.4.2015 16.00
      li.score-item
        div
          .fa.fa-trophy ELB - LET (4:5)
          | 16.4.2015 16.00
      li.score-item
        div
          .fa.fa-trophy KOV - HBT (1:3)
          | 18.4.2015 16.00
      li.score-item
        div
          .fa.fa-trophy HBC - KOV (2:1)
          | 18.4.2015 16.00
      li.score-item
        div
          .fa.fa-trophy ALP - HK (7:1)
          | 18.4.2015 16.00
      li.score-item
        div
          .fa.fa-trophy ELB - LET (4:5)
          | 16.4.2015 16.00

  .col-sm-9

    .panel.panel-default
      .panel-heading
        h3.panel-title
          .fa.fa-clock-o
          | Odpočet do dalšího kola
      .panel-body
        .countdown.clearfix
        small
          | V tomto čase můžete upravovat vaše týmy.
          | Nezapomeňte tým poslat do hry.
          | Na začátku kola budou týmy poslané do hry uzamčeny a během kola je není možné upravovat.

    ul.boxes
      - @games.each do |game|
        li
          h3 = game.term
          p = game.term

