.authform.container-fluid
  .row
    .hidden-xs.col-sm-3.col-md-4
    .col-xs-12.col-sm-6.col-md-4
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f|
        .h3 Sign up
        = devise_error_messages!
        .form-group
          = f.label :name
          = f.text_field :name, :autofocus => true, class: 'form-control'
        .form-group
          = f.label :email
          = f.email_field :email, class: 'form-control'
        .form-group
          = f.label :password
          = f.password_field :password, class: 'form-control'
        .form-group
          = f.label :password_confirmation
          = f.password_field :password_confirmation, class: 'form-control'
        = f.submit 'Sign up', :class => 'btn btn-success'
    .hidden-xs.col-sm-3.col-md-4
