.authform.container-fluid
  .row
    .hidden-xs.col-sm-3.col-md-4
    .col-xs-12.col-sm-6.col-md-4
      = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
        .h3 Change your password
        = devise_error_messages!
        = f.hidden_field :reset_password_token
        .form-group
          = f.label :password, 'New password'
          = f.password_field :password, autofocus: true, autocomplete: 'off', class: 'form-control'
        .form-group
          = f.label :password_confirmation, 'Confirm new password'
          = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control'
        = f.submit 'Change my Password', :class => 'btn btn-default'
    .hidden-xs.col-sm-3.col-md-4