.authform.container-fluid
  .row
    .hidden-xs.col-sm-3.col-md-4
    .col-xs-12.col-sm-6.col-md-4
      = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f|
        .h3 Forgot your password?
        .p We'll send password reset instructions.
        = devise_error_messages!
        .form-group
          = f.label :email
          = f.email_field :email, :autofocus => true, class: 'form-control'
        = f.submit 'Reset Password', :class => 'btn btn-primary'
    .hidden-xs.col-sm-3.col-md-4