.design-bar
  ul.score-bar
    / - @games.each do |game|
    li.score-item
      div
        .fa.fa-trophy KOV - HBT (1:3)
        | 18.4.2015 16.00
    li.score-item
      div
        .fa.fa-trophy HBC - KOV (2:1)
        | 18.4.2015 16.00
    li.score-item
      div
        .fa.fa-trophy ALP - HK (7:1)
        | 18.4.2015 16.00
    li.score-item
      div
        .fa.fa-trophy ELB - LET (4:5)
        | 16.4.2015 16.00
    li.score-item
      div
        .fa.fa-trophy KOV - HBT (1:3)
        | 18.4.2015 16.00
    li.score-item
      div
        .fa.fa-trophy HBC - KOV (2:1)
        | 18.4.2015 16.00
    li.score-item
      div
        .fa.fa-trophy ALP - HK (7:1)
        | 18.4.2015 16.00
    li.score-item
      div
        .fa.fa-trophy ELB - LET (4:5)
        | 16.4.2015 16.00

  ul.feature-bar
    / - @games.each do |game|
    li.feature-item
      div
        .fa.fa-calendar 18.4.2015 16.00
    li.feature-item
      div
        .fa.fa-calendar 18.4.2015 16.00
    li.feature-item
      div
        .fa.fa-calendar 18.4.2015 16.00
    li.feature-item
      div
        .fa.fa-calendar 16.4.2015 16.00
    li.feature-item
      div
        .fa.fa-calendar 18.4.2015 16.00
    li.feature-item
      div
        .fa.fa-calendar 18.4.2015 16.00
