nav.usermenu
  li
    = link_to account_dashboard_path do
      .glyphicon.glyphicon-dashboard
      | Můj účet
  li
    = link_to account_teams_path do
      .glyphicon.glyphicon-link
      | Mé týmy
  / li
  /   = link_to account_dashboard_path do
  /     .glyphicon.glyphicon-stats
  /     | Body
  / li
  /   = link_to account_dashboard_path do
  /     .glyphicon.glyphicon-time
  /     | Historie
  / .player
