= render 'shared/header'

= render 'shared/menu'

br

.row
  .col-sm-3
    = render 'management/sidebar'
  .col-sm-9
    .row.container-fluid
      .col-xs-12
        h1 Management

        .panel.panel-default
          .panel-heading
            h3.panel-title
              .fa.fa-database
              | Status
          .panel-body
            .row
              .col-sm-4
                | Rozpracované týmy:
                span.label.label-default =< UserTeam.draft.count
              .col-sm-4
                | Připravené týmy:
                span.label.label-info =< UserTeam.ready.count
              .col-sm-4
                | Aktivní týmy ve hře:
                span.label.label-success =< UserTeam.active.count
            br
            .row
              .col-sm-6
                | Začátek kola:
                b =< l prev_update, format: :long
              .col-sm-6
                | Obnova kola:
                b =< l next_update, format: :long

        .panel.panel-default
          .panel-heading
            h3.panel-title
              .fa.fa-gear
              | Správa kol
          .panel-body
            .text-center
              .btn-group
                = link_to 'Obnovit týmy', management_path(), class: 'btn btn-primary'
            .text-center nebo
            .text-center
              .btn-group
                = link_to 'Označit aktivní týmy jako dohrané', management_path(), class: 'btn btn-sm btn-default'
                = link_to 'Označit aktivní týmy jako drafty', make_active_teams_draft_path(), class: 'btn btn-sm btn-default'
                = link_to 'Zařadit připravené týmy do hry', make_ready_teams_active_path(), class: 'btn btn-sm btn-default'

        .panel.panel-default
          .panel-heading
            h3.panel-title
              .fa.fa-gear
              | Zpracování výsledků
          .panel-body
            .row
              .col-sm-6.text-center
                h4 Parsování výsledků
                = link_to 'Stáhnout výsledky', parse_results_path(), class: 'btn btn btn-primary'
              .col-sm-6.text-center
                h4 Počítání výsledků
                = link_to 'Parsovat stáhnuté', process_results_path(), class: 'btn btn btn-primary'

        .panel.panel-default
          .panel-heading
            h3.panel-title
              .fa.fa-calendar
              | Hry v aktuálním kole
          .panel-body
            table.table
              thead
                tr
                  th
                  th id
                  th termín
                  th liga
                  th účastníci
                  th
              tbody
                - @games_in_round.each do |game|
                  tr
                    td
                      .fa.fa-play-circle-o
                      .fa.fa-circle-o-notch.fa-spin
                      .fa.fa-check
                    td
                      = game.id
                    td
                      = game.term
                    td
                      = game.league.name
                    td
                      = game.team.map{|t| t.name}.join(', ')
                    td
                      .btn-group.pull-right
                        = link_to 'parsovat', management_path(), class: 'btn btn-xs btn-info'
                        = link_to 'počítat', management_path(), class: 'btn btn-xs btn-warning'

