.authform.container-fluid
  .row
    .hidden-xs.col-sm-3.col-md-4
    .col-xs-12.col-sm-6.col-md-4
      = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f|
        h3 Sign in
        = devise_error_messages! 
        .form-group
          - if devise_mapping.registerable? 
            = link_to 'Sign up', new_registration_path(resource_name), class: 'pull-right'  
          = f.label :email 
          = f.email_field :email, :autofocus => true, class: 'form-control' 
        .form-group
          - if devise_mapping.recoverable?
            = link_to "Forgot password?", new_password_path(resource_name), class: 'pull-right'
          = f.label :password
          = f.password_field :password, class: 'form-control'
        .form-group
          = f.submit 'Sign in', :class => 'btn btn-success'
          - if devise_mapping.rememberable?
            .checkbox style="width:150px"
              label
                = f.check_box :remember_me
                | Remember me

    .hidden-xs.col-sm-3.col-md-4