dl.dl-horizontal
  dt = t '.name'
  dd = player.name

  dt = t '.team'
  dd = player.team.name

  dt = t '.role'
  - if player.player_role
    dd = player.player_role.name
  - else
    dd hráč v poli

= link_to account_add_team_player_path(team.id, player: player.id),
          remote: true,
          method: :post,
          "data-type" => :json,
          class: 'btn btn-block btn-primary add-player-action'
  .glyphicon.glyphicon-add
  = t '.add_player'

javascript:
  player = "#{@player}";
  team = "#{@team}";

coffee:
  $addLink = $('.add-player-action')
  $addLink
    .on "ajax:success", (event, data) ->
      if data.status == 'success'
        $li = $(data.html).hide()
        $('#players').append $li
        $li.show(300)
        bindRemoveCallbacks $li
      else
        alert data.notice
    .on "ajax:error", (e, xhr, status, error) ->
      alert 'Add user failed!'
      console.log xhr
