.container-fluid
  h1 Players

  table.table
    thead
      tr
        th
        th
    tbody
      - @players.each do |player|
        tr
          td = player.name
          td = player.team.name

  = paginate @players
