aside.sidebar
  background: $color2
  color: #fff
  ul
    padding: 0
    list-style: none
    li
      a
        display: inline-block
        color: #fff
        padding: 12px

.design-bar
  padding: 8px 0
  background-image: image-url('bg-1.svg')
  background-size: 100% auto
  background-position: center center
  box-shadow: inset 0 0 16px rgba(#000, .25)

.bx-wrapper
  margin: 0
  padding: 4px 0
  background: none
  .bx-viewport
    background: rgba(#fff, .9)
    background: none
    border: none
    left: 0
    box-shadow: none

  .score-item
    > div
      height: 64px
      padding: 8px
      background: rgba(#fff, .8)
      color: #000
      border-radius: 3px

  .feature-item
    > div
      height: 32px
      padding: 8px
      background: rgba(#000, .7)
      color: #fff
      border-radius: 3px

.boxes
  padding: 0
  list-style: none
  li
    border-top: 4px solid #000
    background: #fff
    margin-bottom: 12px
    h3
      padding: 8px
      margin: 0
      border-bottom: 1px solid #ddd
    p
      padding: 8px

.score-list
  list-style: none
  padding: 0
  li
    display: block
    margin-bottom: 10px
    border-bottom: 1px solid #ccc
