.logs
  list-style: none
  padding: 0
  li
    position: relative
    padding-top: 4px
    padding-bottom: 12px
    .icon
      background: #ccc
      border-radius: 50%
      width: 32px
      height: 32px
      text-align: center
      line-height: 32px
      vertical-align: middle
      margin-right: 8px
      color: #fff
    .ctd
      color: #ccc
    &:after
      content: ''
      position: absolute
      left: 15px
      top: 40px
      bottom: 0
      width: 0
      border-left: 1px solid #ccc
    &:last-child
      &:after
        border: none
    span.unknown
      color: #ccc
