.team-editor
  display: none

.players-list
  list-style: none
  padding: 0
  li
    position: relative
    display: inline-block
    float: left
    width: 250px
    height: 72px
    background: #555
    color: #fff
    border-radius: 4px
    margin: 0 10px 10px 0
    box-shadow: 0 1px 4px rgba(#000, .25)
    &.captain
      background: #d29400
    .img-container
      float: left
      width: 72px
      height: 72px
      background: #ddd
      border-radius: 4px 0 0 4px
      margin-right: 8px
      .glyphicon
        font-size: 3em
        margin: 14px
    .name
      display: block
      border-bottom: 1px solid rgba(#fff, .3)
      margin: 2px 0
      padding-bottom: 2px
      font-family: $font-secondary
    .team
      display: block
      font-size: .75em
    .role
      display: block
      font-size: 1em
    .control
      display: none
      position: absolute
      right: 0
      top: 0
      bottom: 0
      > *
        background: #aaa
        background: rgba(#fff, .7)
        width: 24px
        text-align: center
        &:first-child
          position: absolute
          right: 0
          top: 0
          bottom: 50%
          border-radius: 0 4px 0 0
          .glyphicon, .fa
            margin: 12px 0
            color: #000
          &:hover
            background: rgba($yellow_a, .8)
            .glyphicon, .fa
              color: white
        &:nth-child(2)
          position: absolute
          right: 0
          top: 50%
          bottom: 0
          border-radius: 0 0 4px 0
          .glyphicon, .fa
            margin: 12px 0
            color: #000
          &:hover
            background: rgba($red_a, .8)
            .glyphicon, .fa
              color: white
    &:hover
      .control
        display: block
