= render 'shared/header'

= render 'shared/user_menu'

br

.row
  .col-sm-3
    = render 'account/sidebar'
  .col-sm-9
    .row.container-fluid
      .col-xs-12
        h1 Dashboard
        p
          | Actual score:
          b =< current_user.score || 'zatím nebodováno'
        ul.logs
          - @logs.each do |log|
            = render 'logs/log_item', log: log


