body
  background: #f5f5f5
  background: image-url('bg.jpg') no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

.navbar-inverse
  background: $color3
  border: 0
  box-shadow: 0 0 12px rgba(#000, .5)
  color: #fff
  font-family: $font-secondary

.logo
  width: 100px
  margin: 16px 8px

main
  padding-top: 50px

.page
  background: #fff
  background-color: rgba(#fff, .85)

.content
  padding: 1em 1em 1em 0

.alert
  margin: 0
  border-radius: 0
  border-width: 0 0 2px 0

.player
  position: absolute
  right: -40px
  bottom: 0
  width: 280px
  height: 220px
  background: image-url('player-soccer.svg') no-repeat top center
  background-size: 280px

.select2
  width: 100%

nav.menu
  padding: 0
  list-style: none
  background: #254C6D
  padding: 0 8px
  li
    display: inline-block
    a
      display: inline-block
      padding: 8px
      font-family: $font-secondary
      font-size: 1.35em
      color: #fff

nav.submenu
  padding: 0
  list-style: none
  background: $color1
  padding: 0 8px
  li
    display: inline-block
    a
      display: inline-block
      padding: 8px
      font-family: $font-secondary
      font-size: 1.15em
      color: #fff

nav.usermenu
  position: relative
  padding: 0
  list-style: none
  background: $green_a
  padding: 0 8px
  li
    display: inline-block
    a
      display: inline-block
      padding: 8px
      font-family: $font-secondary
      font-size: 1.15em
      color: #fff
      text-align: center
      text-decoration: none
      div
        display: block
      .glyphicon
        font-size: 2em
        margin-bottom: .15em
      &:hover
        color: #000

footer
  .page
    padding: 16px
    .inner
      padding: 16px 0
      text-align: center
      border-top: 1px solid #ddd
