li data-created=(log.created_at.to_i)
  - if log.user_team_create? && UserTeam.exists?(log.event_key)
    i.icon.fa.fa-users
    span = log.user.name
    span
      =< link_to t(".#{log.event}_html", key: UserTeam.find(log.event_key).name),
        account_team_path(log.event_key)

  - elsif log.user_team_player_assign? && Player.exists?(log.event_key) && UserTeam.exists?(log.event_value) && log.event_value > 0
    i.icon.fa.fa-user-plus
    span = log.user.name
    span
      =< link_to t(".#{log.event}_html", key: Player.find(log.event_key).name, value: UserTeam.find(log.event_value).name),
        account_team_path(log.event_value)

  - elsif log.user_score_update_player? && Player.exists?(log.event_key)
    i.icon.fa.fa-users
    span = log.user.name
    span
      =< t ".#{log.event}_html", player: Player.find(log.event_key).name, points: log.event_value

  - else
    i.icon.fa.fa-calendar
    span.unknown = t '.unknow'

  | &nbsp;
  span.ctd
