- if user_signed_in?
  - if current_user.admin?
    li = link_to 'Manage', management_path
  li = link_to 'Profil', account_dashboard_path
  li = link_to 'Edit account', edit_user_registration_path
  li = link_to 'Sign out', destroy_user_session_path, :method=>'delete'
- else
  li = link_to 'Sign in', new_user_session_path
  li = link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
  li = link_to 'Sign up', new_user_registration_path

- if user_signed_in?
  - if current_user.admin?
    li = link_to 'Admin', '/admin'
