doctype html
html
  head
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    meta[http-equiv="Content-Type" content="text/html; charset=utf-8"]
    title
      = content_for?(:title) ? yield(:title) : 'Sportfantasy'
    meta name="description" content="#{content_for?(:description) ? yield(:description) : 'Sportfantasy'}"
    == stylesheet_link_tag "application", :media => 'all', 'data-turbolinks-track' => true
    == javascript_include_tag 'application', 'data-turbolinks-track' => true
    == csrf_meta_tags
  body
    header
      == render 'layouts/navigation'
    main[role="main"]
      .container
        .page
          = render 'layouts/messages'
          == yield

    footer
      .container
        .page
          .inner
            | SportFantasy &copy; 2015
